
@{
    ViewData["Title"] = "Pessoal";
}
<div>
    <h1 class="display-4 titleh1">Resumo Pessoal</h1>
    <p>Entre em <a href="https://api.whatsapp.com/send?1=pt_BR&phone=5531991091623" target="_blank">contato</a> para saber mais.</p>
</div>
<div>
    <a asp-area="" asp-controller="Home" asp-action="Sobre">Voltar</a>
</div>



