
@{
    ViewData["Title"] = "Pessoal";
}
<div>
    <h1 class="text-center display-4">Resumo Pessoal</h1>
    <p> aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
</div>
<div>
    <a asp-area="" asp-controller="Home" asp-action="Sobre">Voltar</a>
</div>


