@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4 titleh1">Bem Vindo!</h1>
    <font size="5"><p>Meu nome é Alex e este é meu primeiro site em MVC.</p></font>
</div>
